@use 'utilities';
@use 'tools';
@import './icon.theme.scss';
:host {
    display: block;
    svg {
        background-color: var(--background-color);
        fill: var(--background-color);
        color: var(--color);
        font-size: var(--_font-size-icon);
        &:hover {}
        &:focus {}
        &:active {}
        &.ds-icon[disabled=''] {
            cursor: not-allowed;
        }
    }
}