@use 'utilities';
@use 'tools';
@import './icon.theme.scss';

:host {
    display: block;

    i {
        background-color: var(--background-base-color);
        color: var(--color-icon);
        &:hover {

        }
        &:focus {

        }
        &:active {

        }
        &.ds-icon[disabled=''] {
            cursor: not-allowed;
        }
    }
}