@use 'utilities';
@use 'tools';
@import './input.theme.scss';
:host {
    display: block;
    font-family: 'roboto-regular', Arial, Helvetica, sans-serif;
    color: var(--color-text-main);
    input {
        background-color: var(--color-background-input-default);
        border-color: var(--color-border-input-default);
        border-radius: var(--border-radius-sm);
        border-width: var(--border-width-xs);
        border-style: var(--border-style-solid);
        &.input--disabled {
            background-color: var(--color-background-disabled);
            border-color: var(--color-border-disabled);
            color: var(--color-text-label-disabled-on-dark);
            cursor: not-allowed;
        }
        &.input--readonly {
            background-color: var(--color-background-readonly);
            border-color: var(--color-border-readonly);
            cursor: not-allowed;
        }
        &:focus {
            border-color: var(--color-border-focus);
        }
    }
    label {
        display: block;
    }
    span {
        display: block;
    }
    .ds-input__helper-text {
        color: var(--color-text-label);
    }
    .ds-input__feedback--success {
        color: var(--color-text-status-success);
    }
    .ds-input__feedback--error {
        color: var(--color-text-status-error);
    }
}

:host(.ds-input--sm) {
    font-size: var(--font-size-02);
}

:host(.ds-input--md) {
    font-size: var(--font-size-03);
}

:host(.ds-input--lg) {
    font-size: var(--font-size-04);
}