@use 'utilities';
@use 'tools';
@import './input.theme.scss';
:host {
    display: block;
    font-family: 'roboto-regular', Arial, Helvetica, sans-serif;
    color: var(--color-text-main);
    input {
        background-color: var(--color-background-input-default);
        border-color: var(--color-border-input-default);
        border-radius: var(--border-radius-sm);
        border-width: var(--border-width-xs);
        border-style: var(--border-style-solid);
        &:disabled {}
        &:focus {
            border-color: var(--color-border-focus);
        }
    }
    label {
        display: block;
    }
    span {
        display: block;
    }
}