:host {
    --_hover-cursor: pointer;
    --_spacing-inset-2xs: var(--spacing-inset-2xs);
    --_spacing-inset-xs: var(--spacing-inset-xs);
}

:host(.ds-input__label-inline) {
    display: inline;
}

:host(.ds-input__label-stack) {
    display: block;
}

:host(.ds-input--sm) {
    .ds-input__container {
        label {
            font-size: var(--font-size-02);
            line-height: var(--font-line-height-02);
        }
        input {
            padding: var(--spacing-inset-2xs);
        }
    }
}

:host(.ds-input--md) {
    .ds-input__container {
        label {
            font-size: var(--font-size-03);
            line-height: var(--font-line-height-03);
        }
        input {
            padding: var(--spacing-inset-xs);
            font-size: var(--font-size-03);
        }
    }
}

:host(.ds-input--lg) {
    .ds-input__container {
        label {
            font-size: var(--font-size-04);
            line-height: var(--font-line-height-03);
        }
        input {
            padding: var(--spacing-inset-xs);
            font-size: var(--font-size-04);
        }
    }
}

:host(.ds-input__label-inline) {}

:host(.ds-input__label-stack) {}

:host(.ds-input__helper-text) {}

:host(.ds-input__feedback) {}

:host(.ds-input__left-icon) {}

:host(.ds-input__right-icon) {}