:host {
    --_hover-cursor: pointer;
}

// SM
:host(.ds-input--sm) {
    --font-size: var(--font-size-02);
    --padding-inside: var(--spacing-inset-2xs);
}

// MD
:host(.ds-input--md) {
    --font-size: var(--font-size-0875);
    --padding-inside: var(--spacing-inset-xs);
}

// LG
:host(.ds-input--lg) {
    --font-size: var(--font-size-1);
    --padding-inside: var(--spacing-inset-xs);
}

:host(.ds-input--text) {}