@use 'utilities';
@use 'tools';
@import './button.theme.scss';

:host {
  display: block;

  button, a {
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius-top-right);
    border-bottom-right-radius: var(--border-radius-bottom-right);
    border-width: var(--border-width-xs);
    border-style: solid;
    border-color: var(--border-color);
    color: var(--color);
    font-size: var(--font-size);
    padding: var(--padding-inside);
    cursor: var(--_hover-cursor);

    &:hover {
      background-color: var(--background-color-hover);
      border-color: var(--background-color-hover);
      color: var(--color-hover);
    }
    &:focus {
      background-color: var(--background-color-hover);
      border-width: var(--border-width-xs);
      border-color: var(--border-color-focus);
      box-shadow: inset 0px 0px 0px 1px var(--border-color-shadow);
      color: var(--color-hover);
    }
    &:active {
      background-color: var(--background-color-active);
      border-color: var(--background-color-active);
      color: var(--color-active);
    }
    &.button--disabled {
      background-color: var(--background-disabled);
      border-color: var(--border-color-disabled);
      color: var(--color-disabled);
      box-shadow: var(--border-color-shadow-disabled);
      cursor: not-allowed;
    }
  }
}
