:host {
    --_hover-cursor: pointer;
    --_border-00625: var(--border-width-xs);
    --_padding-button-sm: var(--spacing-inset-squish-2xs-double);
    --_padding-button: var(--spacing-inset-squish-xs-double);
    --_color-base: var(--color-background-surface-00);
    --_font-size-075: var(--font-size-02);
    --_padding-button-left: var(--spacing-07);

}

// SM
:host(.ds-button--sm) {
    --font-size: var(--font-size-02);
    --padding-inside: var(--_padding-button-sm);
}

// MD
:host(.ds-button--md) {
    --font-size: var(--font-size-03);
    --padding-inside: var(--_padding-button);
}

// LG
:host(.ds-button--lg) {
    --font-size: var(--font-size-04);
    --padding-inside: var(--_padding-button);
}

// PRIMARY
:host(.ds-button--primary), :host(.ds-button--solid),
:host(.ds-button-split.ds-button-split--primary) {
    --background-base-color: var(--color-background-action-primary);
    --background-base-color-hover: var(--color-background-action-primary-hover);
    --background-base-disabled: var(--color-background-disabled);
    --background-base-color-active: var(--color-background-action-primary-active);
    --background-base-focus: var(--color-background-action-primary-hover);
    --label-base-color: var(--color-text-action-on-dark);
    --label-base-color-hover: var(--color-text-action-on-dark);
    --label-base-color-focus: var(--color-text-action-on-dark);
    --label-base-color-active: var(--color-text-action-on-dark);
    --label-base-color-disabled: var(--color-text-disabled);
    --border-base-color: var(--color-border-action-primary);
    --border-base-color-hover: var(--color-border-action-primary-hover);
    --border-base-color-active: var(--color-border-action-primary-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: var(--color-border-disabled);
    --border-shadow-color: var(--color-background-surface-00);
    --border-radius: var(--border-radius-xl);
    --border-top-right-radius: var(--border-radius-xl);
    --border-bottom-right-radius: var(--border-radius-xl);
}

// PRIMARY OUTLINE
:host(.ds-button--primary.ds-button--outline),
:host(.ds-button-split.ds-button-split--primary.ds-button-split--outline) {
    --background-base-color: transparent;
    --background-base-color-hover: var(--color-background-action-primary-hover);
    --background-base-disabled: var(--color-background-disabled);
    --background-base-color-active: var(--color-background-action-primary-active);
    --background-base-focus: var(--color-background-action-primary-hover);
    --label-base-color: var(--color-text-action-on-dark);
    --label-base-color-hover: var(--color-text-action-on-dark);
    --label-base-color-focus: var(--color-text-action-on-dark);
    --label-base-color-active: var(--color-text-action-on-dark);
    --label-base-color-disabled: var(--color-text-disabled);
    --border-base-color: var(--color-border-action-primary);
    --border-base-color-hover: var(--color-border-action-primary-hover);
    --border-base-color-active: var(--color-border-action-primary-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: var(--color-border-disabled);
    --border-shadow-color: var(--color-background-surface-00);
    --label-base-color: var(--color-text-primary);
    --background-base-disabled: transparent;
    --border-base-color: var(--color-border-action-primary);
}

// PRIMARY CLEAR
:host(.ds-button--primary.ds-button--clear),
:host(.ds-button-split.ds-button-split--primary.ds-button-split--clear) {
    --background-base-color: transparent;
    --background-base-color-hover: var(--color-background-hover);
    --background-base-color-active: var(--color-background-active);
    --background-base-focus: var(--color-background-hover);
    --background-base-disabled: transparent;
    --label-base-color: var(--color-text-primary);
    --label-base-color-hover: var(--color-text-primary);
    --label-base-color-focus: var(--color-text-primary);
    --label-base-color-active: var(--color-text-primary);
    --border-base-color: transparent;
    --border-base-color-hover: var(--color-border-hover);
    --border-base-color-active: var(--color-border-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: transparent;
    --border-radius: none;
}


// BUTTON-SPLIT PRIMARY
:host(.ds-button-split.ds-button-split--primary),
:host(.ds-button-split.ds-button-split--primary.ds-button-split--outline), 
:host(.ds-button-split.ds-button-split--primary.ds-button-split--clear) {
    --border-radius: var(--border-radius-xl);
    --border-top-right-radius: 0px;
    --border-bottom-right-radius: 0px;
}


// SECONDARY
:host(.ds-button--secondary),
:host(.ds-button-split.ds-button-split--solid.ds-button-split--secondary) {
    --background-base-color: var(--color-background-action-secondary);
    --background-base-color-hover: var(--color-background-action-secondary-hover);
    --background-base-disabled: var(--color-background-disabled);
    --background-base-color-active: var(--color-background-action-secondary-active);
    --background-base-focus: var(--color-background-action-secondary-hover);
    --label-base-color: var(--color-text-action);
    --label-base-color-hover: var(--color-text-action);
    --label-base-color-focus: var(--color-text-action);
    --label-base-color-active: var(--color-text-action);
    --label-base-color-disabled: var(--color-text-disabled);
    --border-base-color: var(--color-border-action-secondary);
    --border-base-color-hover: var(--color-border-secondary-hover);
    --border-base-color-active: var(--color-border-secondary-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: var(--color-border-disabled);
    --border-radius: var(--border-radius-xl);
    --border-shadow-color: var(--color-background-surface-00);
    --border-shadow-color-disabled: transparent;
}

// SECONDARY OUTLINE AND 
// BUTTON-SPLIT SECONDARY OUTLINE
:host(.ds-button--secondary.ds-button--outline), 
:host(.ds-button-split.ds-button-split--secondary.ds-button-split--outline) {
    --background-base-color: transparent;
    --background-base-color-hover: var(--color-background-action-secondary-hover);
    --background-base-disabled: var(--color-background-disabled);
    --background-base-color-active: var(--color-background-action-secondary-active);
    --background-base-focus: var(--color-background-action-secondary-hover);
    --border-base-color: var(--color-border-action-secondary);
    --border-base-color-hover: var(--color-border-secondary-hover);
    --border-base-color-active: var(--color-border-secondary-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: var(--color-border-disabled);
    --label-base-color: var(--color-text-secondary);
    --background-base-disabled: transparent;
    --border-base-color: var(--color-border-action-secondary);
    --border-shadow-color: var(--color-background-surface-00);
    --border-shadow-color-disabled: transparent;
}

// SECONDARY CLEAR AND BUTTON-SPLIT SECONDARY CLEAR
:host(.ds-button--secondary.ds-button--clear),
:host(.ds-button-split.ds-button-split--secondary.ds-button-split--clear){
    --background-base-color: transparent;
    --background-base-color-hover: var(--color-background-hover);
    --background-base-color-active: var(--color-background-active);
    --background-base-focus: var(--color-background-hover);
    --label-base-color: var(--color-text-secondary);
    --label-base-color-hover: var(--color-text-secondary);
    --label-base-color-focus: var(--color-text-secondary);
    --label-base-color-active: var(--color-text-secondary);
    --background-base-disabled: transparent;
    --border-base-color: transparent;
    --border-base-color-disabled: transparent;
    --border-radius: none;
}

// BUTTON-SPLIT SECONDARY
:host(.ds-button-split.ds-button-split--secondary.ds-button-split--solid),
:host(.ds-button-split.ds-button-split--secondary.ds-button-split--outline), 
:host(.ds-button-split.ds-button-split--secondary.ds-button-split--clear) {
    --border-radius: var(--border-radius-xl);
    --border-top-right-radius: 0px;
    --border-bottom-right-radius: 0px;
}

// INFO
:host(.ds-button--info),
:host(.ds-button-split.ds-button-split--info)  {
    --background-base-color: var(--color-background-status-info);
    --background-base-color-hover: var(--color-background-status-info-hover);
    --background-base-disabled: var(--color-background-disabled);
    --background-base-color-active: var(--color-background-status-info-active);
    --background-base-focus: var(--color-background-status-info-hover);
    --label-base-color: var(--color-text-action);
    --label-base-color-hover: var(--color-text-action);
    --label-base-color-focus: var(--color-text-action);
    --label-base-color-active: var(--color-text-action-on-dark);
    --label-base-color-disabled: var(--color-text-disabled);
    --border-base-color: var(--color-border-status-info);
    --border-base-color-hover: var(--color-border-status-info-hover);
    --border-base-color-active: var(--color-border-status-info-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: var(--color-border-disabled);
    --border-shadow-color: var(--color-background-surface-00);
    --border-radius: var(--border-radius-xl);
}

// INFO OUTLINE and BUTTON-SPLIT INFO
:host(.ds-button--info.ds-button--outline), 
:host(.ds-button-split.ds-button-split--outline.ds-button-split--info) {
    --background-base-color: transparent;
    --label-base-color: var(--color-text-status-info);
    --background-base-disabled: transparent;
    --border-shadow-color-disabled: transparent;
}

// INFO CLEAR
:host(.ds-button--info.ds-button--clear), 
:host(.ds-button-split.ds-button-split--clear.ds-button-split--info) {
    --background-base-color: transparent;
    --background-base-disabled: transparent;
    --background-base-color-hover: var(--color-background-hover);
    --background-base-color-active: var(--color-background-active);
    --background-base-color-hover: var(--color-background-hover);
    --label-base-color: var(--color-text-status-info);
    --label-base-color-hover: var(--color-text-status-info);
    --label-base-color-active: var(--color-text-status-info);
    --label-base-color-focus: var(--color-text-status-info);
    --border-base-color: transparent;
    --border-base-color-disabled: transparent;
    --border-radius: none;
}

// BUTTON-SPLIT INFO 
:host(.ds-button-split.ds-button-split--info),
:host(.ds-button-split.ds-button-split--outline.ds-button-split--info),
:host(.ds-button-split.ds-button-split--clear.ds-button-split--info) {
    --border-radius: var(--border-radius-xl);
    --border-top-right-radius: 0px;
    --border-bottom-right-radius: 0px;
}

// WARNING and BUTTON-SPLIT WARNING
:host(.ds-button--warning), 
:host(.ds-button-split.ds-button-split--warning) {
    --background-base-color: var(--color-background-status-warning);
    --background-base-color-hover: var(--color-background-status-warning-hover);
    --background-base-disabled: var(--color-background-disabled);
    --background-base-color-active: var(--color-background-status-warning-active);
    --background-base-focus: var(--color-background-status-warning-hover);
    --label-base-color: var(--color-text-action);
    --label-base-color-hover: var(--color-text-action);
    --label-base-color-active: var(--color-text-action-on-dark);
    --label-base-color-focus: var(--color-text-action);
    --label-base-color-disabled: var(--color-text-disabled);
    --border-base-color: var(--color-border-status-warning);
    --border-base-color-hover: var(--color-border-status-warning-hover);
    --border-base-color-active: var(--color-background-status-warning-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: var(--color-border-disabled);
    --border-shadow-color: var(--color-background-surface-00);
    --border-radius: var(--border-radius-xl);
}


// WARNING OUTLINE and BUTTON-SPLIT WARNING OUTLINE
:host(.ds-button--warning.ds-button--outline),
:host(.ds-button-split.ds-button-split--outline.ds-button-split--warning) {
    --background-base-color: transparent;
    --background-base-disabled: transparent;
    --label-base-color: var(--color-text-status-warning);
    --border-base-color: var(--color-border-status-warning);
}

// WARNING CLEAR and BUTTON-SPLIT WARNING CLEAR
:host(.ds-button--warning.ds-button--clear),
:host(.ds-button-split.ds-button-split--clear.ds-button-split--warning) {
    --background-base-color: transparent;
    --background-base-disabled: transparent;
    --background-base-color-hover: var(--color-background-hover);
    --background-base-color-active: var(--color-background-active);
    --background-base--color-focus: var(--color-background-hover);
    --label-base-color: var(--color-text-status-warning);
    --label-base-color-hover: var(--color-text-status-warning);
    --label-base-color-active: var(--color-text-status-warning);
    --label-base-color-focus: var(--color-text-status-warning);
    --border-base-color: transparent;
    --border-radius: none;
    --border-base-color-disabled: transparent;
}

// BUTTON-SPLIT WARNING
:host(.ds-button-split.ds-button-split--warning),
:host(.ds-button-split.ds-button-split--outline.ds-button-split--warning),
:host(.ds-button-split.ds-button-split--clear.ds-button-split--warning)  {
    --border-radius: var(--border-radius-xl);
    --border-top-right-radius: 0px;
    --border-bottom-right-radius: 0px;
}

// SUCCESS and BUTTON-SPLIT SUCCESS
:host(.ds-button--success), 
:host(.ds-button-split.ds-button-split--success) {
    --background-base-color: var(--color-background-status-success);
    --background-base-color-hover: var(--color-background-status-success-hover);
    --background-base-disabled: var(--color-background-disabled);
    --background-base-color-active: var(--color-background-status-success-active);
    --background-base-focus: var(--color-background-status-success-hover);
    --label-base-color: var(--color-text-action);
    --label-base-color-hover: var(--color-text-action);
    --label-base-color-focus: var(--color-text-action);
    --label-base-color-active: var(--color-text-action-on-dark);
    --label-base-color-disabled: var(--color-text-disabled);
    --border-base-color: var(--color-border-status-success);
    --border-base-color-hover: var(--color-border-status-success-hover);
    --border-base-color-active: var(--color-border-status-success-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: var(--color-border-disabled);
    --border-shadow-color: var(--color-background-surface-00);
    --border-radius: var(--border-radius-xl);
    --border-shadow-color-disabled:transparent;
}

// SUCCESS OUTLINE
:host(.ds-button--success.ds-button--outline),
:host(.ds-button-split.ds-button-split--outline.ds-button-split--success) {
    --background-base-color: transparent;
    --background-base-color-hover: var(--color-background-status-success-hover);
    --background-base-disabled: transparent;
    --background-base-color-active: var(--color-background-status-success-active);
    --background-base-focus: var(--color-background-status-success-hover);
    --label-base-color: var(--color-text-status-success);
    --label-base-color-hover: var(--color-text-action);
    --label-base-color-focus: var(--color-text-action);
    --label-base-color-active: var(--color-text-action-on-dark);
    --label-base-color-disabled: var(--color-text-disabled);
    --border-base-color: var(--color-border-status-success);
    --border-base-color-hover: var(--color-border-status-success-hover);
    --border-base-color-active: var(--color-border-status-success-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: var(--color-border-disabled);
    --border-radius: var(--border-radius-xl);
}

// SUCCESS CLEAR and BUTTON-SPLIT SUCCESS CLEAR
:host(.ds-button--success.ds-button--clear),
:host(.ds-button-split.ds-button-split--clear.ds-button-split--success) {
    --background-base-color: transparent;
    --background-base-color-hover: var(--color-background-hover);
    --background-base-disabled: transparent;
    --background-base-color-active: var(--color-background-active);
    --background-base-focus: var(--color-background-hover);
    --label-base-color: var(--color-text-status-success);
    --label-base-color-hover: var(--color-text-action);
    --label-base-color-focus: var(--color-text-action);
    --label-base-color-active: var(--color-text-status-success);
    --label-base-color-disabled: var(--color-text-disabled);
    --border-base-color: transparent;
    --border-base-color-hover: var(--color-border-hover);
    --border-base-color-active: var(--color-border-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: transparent;
    --border-radius: none;
}


// BUTTON-SPLIT SUCCESS
:host(.ds-button-split.ds-button-split--success),
:host(.ds-button-split.ds-button-split--outline.ds-button-split--success),
:host(.ds-button-split.ds-button-split--clear.ds-button-split--success)  {
    --border-radius: var(--border-radius-xl);
    --border-top-right-radius: 0px;
    --border-bottom-right-radius: 0px;
}

// ERROR and BUTTON-SPLIT ERROR
:host(.ds-button--error),
:host(.ds-button-split.ds-button-split--error) {
    --background-base-color: var(--color-background-status-error);
    --background-base-color-hover: var(--color-background-status-error-hover);
    --background-base-disabled: var(--color-background-disabled);
    --background-base-color-active: var(--color-background-status-error-active);
    --background-base-focus: var(--color-background-status-error-hover);
    --label-base-color: var(--color-text-action-on-dark);
    --label-base-color-hover: var(--color-text-action-on-dark);
    --label-base-color-focus: var(--color-text-action-on-dark);
    --label-base-color-active: var(--color-text-action-on-dark);
    --label-base-color-disabled: var(--color-text-disabled);
    --border-base-color: var(--color-border-status-error);
    --border-base-color-hover: var(--color-border-status-error-hover);
    --border-base-color-active: var(--color-border-status-error-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: var(--color-border-disabled);
    --border-shadow-color: var(--color-background-surface-00);
    --border-radius: var(--border-radius-xl);
}

// ERROR OUTLINE and BUTTON-SPLIT ERROR OUTLINE
:host(.ds-button--error.ds-button--outline),
:host(.ds-button-split.ds-button-split--outline.ds-button-split--error) {
    --background-base-color: transparent;
    --background-base-color-hover: var(--color-background-status-error-hover);
    --background-base-disabled: transparent;
    --background-base-color-active: var(--color-background-status-error-active);
    --background-base-focus: var(--color-background-status-error-hover);
    --label-base-color: var(--color-text-status-error);
    --label-base-color-hover: var(--color-text-action-on-dark);
    --label-base-color-focus: var(--color-text-action-on-dark);
    --label-base-color-active: var(--color-text-action-on-dark);
    --label-base-color-disabled: var(--color-text-disabled-on-dark);
    --border-base-color: var(--color-border-status-error-hover);
    --border-base-color-hover: var(--color-border-status-error-hover);
    --border-base-color-active: var(--color-border-status-error-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: var(--color-background-disabled);
    --border-radius: var(--border-radius-xl);
}

// ERROR CLEAR AND BUTTON-SPLIT ERROR CLEAR
:host(.ds-button--error.ds-button--clear),
:host(.ds-button-split.ds-button-split--clear.ds-button-split--error) {
    --background-base-color: transparent;
    --background-base-color-hover: var(--color-background-hover);
    --background-base-disabled: transparent;
    --background-base-color-active: var(--color-background-active);
    --background-base-focus: var(--color-background-hover);
    --label-base-color: var(--color-text-status-error);
    --label-base-color-hover: var(--color-text-status-error);
    --label-base-color-focus: var(--color-text-status-error);
    --label-base-color-active: var(--color-text-status-error);
    --label-base-color-disabled: var(--color-text-disabled);
    --border-base-color: transparent;
    --border-base-color-hover: var(--color-border-hover);
    --border-base-color-active: var(--color-border-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: transparent;
    --border-radius: none;
}


// BUTTON-SPLIT ERROR
:host(.ds-button-split.ds-button-split--error) 
:host(.ds-button-split.ds-button-split--outline.ds-button-split--error)
:host(.ds-button-split.ds-button-split--clear.ds-button-split--error) {
    --border-top-right-radius: 0px;
    --border-bottom-right-radius: 0px;
    --border-radius: var(--border-radius-xl);
}



/////////////////////////////////////////////////////////////////////////////
/// 
/// BUTTON ICON-ONLY
/// 
/// ////////////////////////////////////////////////////////////////////////

:host(.ds-button-icon-only){
    --border-radius: var(--border-radius-full);
    --icon-size: var(--font-size-icon-xs);
    --icon-padding: var(--spacing-inset-3xs);
}

:host(.ds-button-icon-only--sm){
    --icon-size: var(--font-size-icon-xs);
    --icon-padding: var(--spacing-inset-3xs);
}

:host(.ds-button-icon-only--md){
    --icon-size: var(--font-size-icon-xs);
    --icon-padding: var(--spacing-inset);
}

:host(.ds-button-icon-only--lg){
    --icon-size: var(--font-size-icon-md);
    --icon-padding: var(--spacing-inset);
}

// PRIMARY ICON-ONLY
:host(.ds-button-icon-only--primary), :host(.ds-button-icon-only--solid) {
    --border-radius: var(--border-radius-full);
    --background-base-color: var(--color-background-action-primary);
    --background-base-color-hover: var(--color-background-action-primary-hover);
    --background-base-focus: var(--color-background-action-primary-hover);
    --background-base-color-active: var(--color-background-action-primary-active);
    --background-base-disabled: var(--color-background-disabled);
    --color-icon: var(--color-fill-icon-on-dark);
    --color-icon-hover: var(--color-fill-icon-on-dark);
    --color-icon-focus: var(--color-fill-icon-on-dark);
    --color-icon-active: var(--color-fill-icon-on-dark);
    --color-icon-disabled: var(--color-fill-icon-disabled);
    --border-base-color: var(--color-border-action-primary);
    --border-base-color-hover: var(--color-border-action-primary-hover);
    --border-base-color-active: var(--color-border-action-primary-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: var(--color-border-disabled);
    --border-shadow-color: var(--color-background-surface-00);

}

// PRIMARY ICON-ONLY OUTLINE
:host(.ds-button-icon-only--primary.ds-button-icon-only--outline) {
    --background-base-color: transparent;
    --color-icon: var(--color-fill-icon-action);
    --color-icon-disabled: var(--color-fill-icon-disabled);
    --background-base-disabled: transparent;
    --border-base-color: var(--color-border-action-primary);
    --border-base-color-hover: var(--color-border-hover);
    --border-base-color-active: var(--color-border-active);
    --border-base-color-focus: var(--color-border-focus);
}

// PRIMARY ICON-ONLY CLEAR
:host(.ds-button-icon-only--primary.ds-button-icon-only--clear){
    --background-base-color: transparent;
    --background-base-color-hover: var(--color-background-hover);
    --background-base-color-active: var(--color-background-active);
    --background-base-focus: var(--color-background-hover);
    --background-base-disabled: transparent;
    --color-icon: var(--color-fill-icon-action);
    --color-icon-hover: var(--color-fill-icon-action);
    --color-icon-focus: var(--color-fill-icon-action);
    --color-icon-active: var(--color-fill-icon-action);
    --color-icon-disabled: var(--color-fill-icon-disabled);
    --border-base-color: transparent;
    --border-base-color-hover: var(--color-border-hover);
    --border-base-color-active: var(--color-border-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: transparent;
}

// SECONDARY ICON-ONLY
:host(.ds-button-icon-only--secondary) {
    --background-base-color: var(--color-background-action-secondary);
    --background-base-color-hover: var(--color-background-action-secondary-hover);
    --background-base-disabled: var(--color-background-disabled);
    --background-base-color-active: var(--color-background-action-secondary-active);
    --background-base-focus: var(--color-background-action-secondary-hover);
    --color-icon: var(--color-fill-icon);
    --color-icon-hover: var(--color-fill-icon);
    --color-icon-focus: var(--color-fill-icon);
    --color-icon-active: var(--color-fill-icon);
    --color-icon-disabled: var(--color-fill-icon-disabled)
    --border-base-color: var(--color-border-action-secondary);
    --border-base-color-hover: var(--color-border-secondary-hover);
    --border-base-color-active: var(--color-border-secondary-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: var(--color-border-disabled);
    --border-shadow-color: var(--color-background-surface-00);
    --border-shadow-color-disabled: transparent;
    --border-radius: var(--border-radius-full);
}

// SECONDARY ICON-ONLY OUTLINE
:host(.ds-button-icon-only--secondary.ds-button-icon-only--outline) {
    --background-base-color: transparent;
    --color-icon: var(--color-fill-icon-action-secondary);
    --background-base-disabled: transparent;
    --border-base-color: var(--color-border-action-secondary);
    --border-base-color-hover: var(--color-border-hover);
    --border-base-color-active: var(--color-border-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-shadow-color-disabled: transparent;
}

// SECONDARY ICON-ONLY CLEAR
:host(.ds-button-icon-only--secondary.ds-button-icon-only--clear) {
    --background-base-color: transparent;
    --color-icon: var(--color-fill-icon-action-secondary);
    --background-base-disabled: transparent;
    --border-base-color: transparent;
    --border-base-color-disabled: transparent;
    --border-radius: none;
}

// INFO ICON-ONLY
:host(.ds-button-icon-only--info) {
    --background-base-color: var(--color-background-status-info);
    --background-base-color-hover: var(--color-background-status-info-hover);
    --background-base-disabled: var(--color-background-disabled);
    --background-base-color-active: var(--color-background-status-info-active);
    --background-base-focus: var(--color-background-status-info-hover);
    --color-icon: var(--color-fill-icon);
    --color-icon-hover: var(--color-fill-icon);
    --color-icon-focus: var(--color-fill-icon);
    --color-icon-active: var(--color-fill-icon-on-dark);
    --color-icon-disabled: var(--color-fill-icon-disabled)
    --border-base-color: var(--color-border-status-info);
    --border-base-color-hover: var(--color-border-status-info-hover);
    --border-base-color-active: var(--color-border-status-info-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: var(--color-border-disabled);
    --border-shadow-color: var(--color-background-surface-00);
    --border-radius: var(--border-radius-full);
}

// INFO ICON-ONLY OUTLINE
:host(.ds-button-icon-only--info.ds-button-icon-only--outline) {
    --background-base-color: transparent;
    --color-icon: var(--color-fill-icon-info);
    --background-base-disabled: transparent;
    --border-shadow-color-disabled: transparent;
}

// INFO ICON-ONLY CLEAR
:host(.ds-button-icon-only--info.ds-button-icon-only--clear) {
    --background-base-color: transparent;
    --background-base-disabled: transparent;
    --background-base-color-hover: var(--color-background-hover);
    --background-base-color-active: var(--color-background-active);
    --background-base-color-hover: var(--color-background-hover);
    --color-icon: var(--color-fill-icon-info);
    --color-icon-hover: var(--color-fill-icon-info);
    --color-icon-focus: var(--color-fill-icon-info);
    --color-icon-active: var(--color-fill-icon-info);
    --border-base-color: transparent;
    --border-base-color-disabled: transparent;
    --border-radius: none;
}

// WARNING ICON-ONLY
:host(.ds-button-icon-only--warning) {
    --background-base-color: var(--color-background-status-warning);
    --background-base-color-hover: var(--color-background-status-warning-hover);
    --background-base-focus: var(--color-background-status-warning-hover);
    --background-base-color-active: var(--color-background-status-warning-active);
    --background-base-disabled: var(--color-background-disabled);
    --color-icon: var(--color-fill-icon);
    --color-icon-hover: var(--color-fill-icon);
    --color-icon-focus: var(--color-fill-icon);
    --color-icon-active: var(--color-fill-icon-on-dark);
    --color-icon-disabled: var(--color-fill-icon-disabled);
    --border-base-color: var(--color-border-status-warning);
    --border-base-color-hover: var(--color-border-status-warning-hover);
    --border-base-color-active: var(--color-background-status-warning-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: var(--color-border-disabled);
    --border-shadow-color: var(--color-background-surface-00);
    --border-radius: var(--border-radius-full);
}

// WARNING ICON-ONLY OUTLINE
:host(.ds-button-icon-only--warning.ds-button-icon-only--outline) {
    --background-base-color: transparent;
    --background-base-disabled: transparent;
    --color-icon: var(--color-fill-icon-warning);
    --border-base-color: var(--color-border-status-warning);
}

// WARNING ICON-ONLY CLEAR
:host(.ds-button-icon-only--warning.ds-button-icon-only--clear) {
    --background-base-color: transparent;
    --background-base-disabled: transparent;
    --background-base-color-hover: var(--color-background-hover);
    --background-base-color-active: var(--color-background-active);
    --background-base--color-focus: var(--color-background-hover);
    --color-icon: var(--color-fill-icon-warning);
    --color-icon-hover: var(--color-fill-icon-warning);
    --color-icon-active: var(--color-fill-icon-warning);
    --color-icon-focus: var(--color-fill-icon-warning);
    --border-base-color: transparent;
    --border-base-color-hover: var(--color-border-hover);
    --border-base-color-active: var(--color-border-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: transparent;
    --border-radius: none;
}

// SUCCESS ICON-ONLY
:host(.ds-button-icon-only--success) {
    --background-base-color: var(--color-background-status-success);
    --background-base-color-hover: var(--color-background-status-success-hover);
    --background-base-disabled: var(--color-background-disabled);
    --background-base-color-active: var(--color-background-status-success-active);
    --background-base-focus: var(--color-background-status-success-hover);
    --color-icon: var(--color-fill-icon);
    --color-icon-hover: var(--color-fill-icon);
    --color-icon-focus: var(--color-fill-icon);
    --color-icon-active: var(--color-fill-icon-on-dark);
    --color-icon-disabled: var(--color-fill-icon-disabled);
    --border-base-color: var(--color-border-status-success);
    --border-base-color-hover: var(--color-border-status-success-hover);
    --border-base-color-active: var(--color-border-status-success-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: var(--color-border-disabled);
    --border-shadow-color: var(--color-background-surface-00);
    --border-shadow-color-disabled:transparent;
    --border-radius: var(--border-radius-full);
}

// SUCCESS ICON-ONLY OUTLINE
:host(.ds-button-icon-only--success.ds-button-icon-only--outline) {
    --background-base-color: transparent;
    --background-base-color-hover: var(--color-background-status-success-hover);
    --background-base-disabled: transparent;
    --background-base-color-active: var(--color-background-status-success-active);
    --background-base-focus: var(--color-background-status-success-hover);
    --color-icon: var(--color-fill-icon-success);
    --color-icon-hover: var(--color-fill-icon);
    --color-icon-focus: var(--color-fill-icon);
    --color-icon-active: var(--color-fill-icon-on-dark);
    --color-icon-disabled: var(--color-fill-icon-disabled);
    --border-base-color: var(--color-border-status-success);
    --border-base-color-hover: var(--color-border-status-success-hover);
    --border-base-color-active: var(--color-border-status-success-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: var(--color-border-disabled);
    --border-radius: var(--border-radius-full);
}

// SUCCESS ICON-ONLY CLEAR
:host(.ds-button-icon-only--success.ds-button-icon-only--clear) {
    --background-base-color: transparent;
    --background-base-color-hover: var(--color-background-hover);
    --background-base-disabled: transparent;
    --background-base-color-active: var(--color-background-active);
    --background-base-focus: var(--color-background-hover);
    --color-icon: var(--color-fill-icon-success);
    --color-icon-hover: var(--color-fill-icon-success);
    --color-icon-focus: var(--color-fill-icon-success);
    --color-icon-active: var(--color-fill-icon-success);
    --color-icon-disabled: var(--color-fill-icon-disabled);
    --border-base-color: transparent;
    --border-base-color-hover: var(--color-border-hover);
    --border-base-color-active: var(--color-border-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: transparent;
    --border-radius: none;
}

// ERROR ICON-ONLY
:host(.ds-button-icon-only--error) {
    --background-base-color: var(--color-background-status-error);
    --background-base-color-hover: var(--color-background-status-error-hover);
    --background-base-disabled: var(--color-background-disabled);
    --background-base-color-active: var(--color-background-status-error-active);
    --background-base-focus: var(--color-background-status-error-hover);
    --color-icon: var(--color-fill-icon-on-dark);
    --color-icon-hover: var(--color-fill-icon-on-dark);
    --color-icon-focus: var(--color-fill-icon-on-dark);
    --color-icon-active: var(--color-fill-icon-on-dark);
    --color-icon-disabled: var(--color-fill-icon-disabled);
    --border-base-color: var(--color-border-status-error);
    --border-base-color-hover: var(--color-border-status-error-hover);
    --border-base-color-active: var(--color-border-status-error-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: var(--color-border-disabled);
    --border-shadow-color: var(--color-background-surface-00);
    --border-radius: var(--border-radius-full);
}

// ERROR ICON-ONLY OUTLINE
:host(.ds-button-icon-only--error.ds-button--outline) {
    --background-base-color: transparent;
    --background-base-color-hover: var(--color-background-status-error-hover);
    --background-base-disabled: transparent;
    --background-base-color-active: var(--color-background-status-error-active);
    --background-base-focus: var(--color-background-status-error-hover);
    --color-icon: var(--color-fill-icon-error);
    --color-icon-hover: var(--color-fill-icon-on-dark);
    --color-icon-focus: var(--color-fill-icon-on-dark);
    --color-icon-active: var(--color-fill-icon-on-dark);
    --color-icon-disabled: var(--color-fill-icon-disabled);
    --border-base-color: var(--color-border-status-error-hover);
    --border-base-color-hover: var(--color-border-status-error-hover);
    --border-base-color-active: var(--color-border-status-error-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: var(--color-background-disabled);
    --border-radius: var(--border-radius-full);
}

// ERROR ICON-ONLY CLEAR
:host(.ds-button-icon-only--error.ds-button--clear) {
    --background-base-color: transparent;
    --background-base-color-hover: var(--color-background-hover);
    --background-base-disabled: transparent;
    --background-base-color-active: var(--color-background-active);
    --background-base-focus: var(--color-background-hover);
    --color-icon: var(--color-fill-icon-action-secondary);
    --color-icon-hover: var(--color-fill-icon-action-secondary);
    --color-icon-focus: var(--color-fill-icon-action-secondary);
    --color-icon-active: var(--color-fill-icon-action-secondary);
    --color-icon-disabled: var(--color-fill-icon-disabled);
    --border-base-color: transparent;
    --border-base-color-hover: var(--color-border-hover);
    --border-base-color-active: var(--color-border-active);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: transparent;
    --border-radius: none;
}

// LIGHT ICON-ONLY
:host(.ds-button-icon-only--light) {
    --background-base-color: var(--color-background-action-light);
    --background-base-color-hover: var(--color-background-action-light-hover);
    --background-base-focus: var(--color-background-action-light-hover);
    --background-base-color-active: var(--color-background-action-light-active);
    --background-base-disabled: var(--color-background-disabled);
    --color-icon: var(--color-fill-icon);
    --color-icon-hover: var(--color-fill-icon);
    --color-icon-focus: var(--color-fill-icon);
    --color-icon-active: var(--color-fill-icon);
    --color-icon-disabled: var(--color-fill-icon-disabled);
    --border-base-color: var(--color-border-action-light);
    --border-base-color-hover: var(--color-border-action-light-hover);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-active: var(--color-border-action-light-active);
    --border-base-color-disabled: var(--color-border-action-light);
    --border-shadow-color: var(--color-background-surface-00);
    --border-radius: var(--border-radius-full);
}

// LIGHT ICON-ONLY OUTLINE 
:host(.ds-button-icon-only--light.ds-button-icon-only--outline) {
    --background-base-color: transparent;
    --background-base-color-hover: var(--color-background-action-light-hover);
    --background-base-focus: var(--color-background-action-light-hover);
    --background-base-color-active: var(--color-background-action-light-active);
    --background-base-disabled: transparent;
    --color-icon: var(--color-fill-icon);
    --color-icon-hover: var(--color-fill-icon-info);
    --color-icon-focus: var(--color-fill-icon);
    --color-icon-active: var(--color-fill-icon);
    --color-icon-disabled: var(--color-fill-icon-disabled);
    --border-base-color: var(--color-border-action-light);
    --border-base-color-hover: var(--color-border-action-light-hover);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-active: var(--color-border-action-light-active);
    --border-base-color-disabled: var(--color-border-disabled);
    --border-shadow-color: var(--color-background-surface-00);
    --border-radius: var(--border-radius-full);
}

// LIGHT ICON-ONLY CLEAR
:host(.ds-button-icon-only--light.ds-button-icon-only--clear) {
    --background-base-color: transparent;
    --background-base-color-hover: var(--color-background-hover);
    --background-base-disabled: transparent;
    --background-base-color-active: var(--color-background-hover);
    --background-base-focus: var(--color-background-hover);
    --color-icon: var(--color-fill-icon);
    --color-icon-hover: var(--color-fill-icon-info);
    --color-icon-focus: var(--color-fill-icon);
    --color-icon-active: var(--color-fill-icon);
    --color-icon-disabled: var(--color-fill-icon);
    --border-base-color: transparent;
    --border-base-color-hover: var(--color-border-hover);
    --border-base-color-active: var(--color-border-hover);
    --border-base-color-focus: var(--color-border-focus);
    --border-base-color-disabled: transparent;
    --border-radius: none;
}

