@use 'utilities';
@use 'tools';
@import './button-split.theme.scss';

:host {
  display: block;
  div {
    width: fit-content;
  }
  div .ds-button {
    float: left;
  }
  div button{
    float: right;
    background-color: var(--background-base-color);
    padding: var(--padding-inside);
    border-top-right-radius: var(--_border-radius_right);
    border-bottom-right-radius: var(--_border-radius_right);
    color: var(--label-base-color);
    cursor: var(--_hover-cursor);

    &:hover {
      background-color: var(--background-base-color-hover);
      border-color: var(--background-base-color-hover);
      color: var(--label-base-color-hover);
    }
    
  }
}
